
h1 {
	text-align: center;
	padding-top: 30px ;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

h6 {
	text-align: center;
	padding-bottom: 30px;
	margin-right: 400px;
	margin-left: 400px;
}

.head {
	background-color: #FEB6D5;
	box-shadow: 30px, black;
	margin-right:1000px;
}


.timeline {
	padding-left: 400px;
	padding-right:200px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color:#434343;
}

h5 {
	text-align: center;
	padding-top: 30px ;
	margin-top:50px;
}

p {
	text-align: center;
	padding-bottom: 30px;
	font-size: 13px;
	padding-right: 600px;
	padding-left: 600px;
}

.bottom {
	background-color: #FEB6D5 ;
	margin-top: 20px;
}

a {
	text-align: center;

}
